SPACES_BUCKET=
SPACES_URL=
SPACES_ACCESS_KEY_ID=
SPACES_SECRET_ACCESS_KEY=
WORKOS_CLIENT_ID=client_123
WORKOS_API_KEY=sk_test_123
WORKOS_COOKIE_PASSWORD=replace-with-32-char-secret
NEXT_PUBLIC_WORKOS_REDIRECT_URI=http://localhost:3000/callback
